<div style="margin-top: 60px">
  <div class="container">
    <div class="py-5 px-4">
      <div class="">
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="px-4 pt-0 pb-4 cover">
            <div
              class="media align-items-end profile-head"
              style="padding-bottom: 10px"
            >
              <div
                class="profile mr-3"
                style="display: flex; flex-direction: column"
              >
                <img
                  [src]="imageSrc"
                  alt="..."
                  width="130"
                  class="rounded mb-2 img-thumbnail"
                /><button href="#" class="btn-book-a-table">
                  Izmeni profil
                </button>
              </div>
              <div class="media-body mb-5 text-white">
                <h4 class="mt-0 mb-0">{{ime}} {{prezime}}</h4>
                <p class="small mb-4">
                  <i class="fas fa-map-marker-alt mr-2"></i>{{username}}
                </p>
              </div>
            </div>
          </div>
          <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">{{(recepti$ | async)?.length}}</h5>
                <small class="text-muted">
                  <i class="fas fa-image mr-1"></i>Recepata</small
                >
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">745</h5>
                <small class="text-muted">
                  <i class="fas fa-user mr-1"></i>Followers</small
                >
              </li>
              <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block">340</h5>
                <small class="text-muted">
                  <i class="fas fa-user mr-1"></i>Following</small
                >
              </li>
            </ul>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-0">About</h5>
            <div class="p-4 rounded shadow-sm bg-light">
              <p class="font-italic mb-0">Web Developer</p>
              <p class="font-italic mb-0">Lives in New York</p>
              <p class="font-italic mb-0">Photographer</p>
            </div>
          </div>
          <div>
            
          </div>
          <div class="py-4 px-4">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <h5 class="mb-0">Poslednji recepti</h5>
              <button class="btn btn-link text-muted" (click)="toggleForm()">Dodaj Recept</button>
              
            </div>
            <div>
              <div>
                <form *ngIf="isOpen" [formGroup]="dodajForm" autocomplete="new-password">
                  <h1>Novi recept</h1>
                  
                  <div class="dodajForm-control">
                    <label for="imeRecept">Ime</label>
                    <input
                      formControlName="imeRecept"
                      id="imeRecept"
                      autocomplete="new-password"
                    />
                  </div>
              
                  <div class="dodajForm-control">
                    <label for="opis">Opis</label>
                    <textarea
                      formControlName="opis"
                      id="opis"
                      autocomplete="new-password"
                    ></textarea>
                  </div>
                  <div>
                    Sastojci
                  </div>
                  <ng-container formArrayName="sastojci">
                    <ng-container *ngFor="let sastojciForm of sastojci.controls; let index = index">
                        <div [formGroupName]="index">
                        <input id="imesastojka" type="text" formControlName="imesastojka" />  
                        <button class="btn btn-link text-muted" (click)="removeSastojci(index)">Ukloni</button>          
                      </div>
                    </ng-container>
                  </ng-container>
                  <button class="btn btn-link text-muted" type="button" (click)="addSastojci()">Dodaj sastojak</button>
              
                  <div class="dodajForm-control">
                    <label for="priprema">Priprema</label>
                    <textarea
                      formControlName="priprema"
                      id="priprema"
                      autocomplete="new-password"
                    ></textarea>
                  </div>
                  <ng-container formArrayName="slike">
                    <ng-container *ngFor="let slikeForm of slike.controls; let index = index">
                        <div [formGroupName]="index">
                        <input id="inputslika" type="file" (change)="onFileChange($event)" formControlName="inputslika" />  
                        <button class="btn btn-link text-muted" (click)="removeSlike(index)">Ukloni</button>          
                      </div>
                    </ng-container>
                  </ng-container>
                  <div style="display: flex; flex-direction: column;">
                  <div>
                  <button class="btn btn-link text-muted" type="button" (click)="addSlike()">Dodaj Sliku</button>
                  </div>


                  <button class="btn-book-a-tablee" (click)="dodaj()">Kreiraj Recept</button>
                </div>
                  
                </form>
              </div>
          </div>
            <div class="row">
                <div style="padding-bottom: 10px;" class="col-lg-6 mb-2 pr-lg-1" *ngFor="let recept of (recepti$ | async)">
                  <img
                    [src]="recept.slike?.[0]"
                    alt=""
                    class="img-fluid rounded shadow-sm cropped-image"
                  />
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
