<div>
  <div style="height: 30px;">

  </div>
<form [formGroup]="form" (submit)="register()" autocomplete="new-password">
    <h1>Register</h1>
    
    <div class="form-control">
      <label for="ime">Ime</label>
      <input
        formControlName="ime"
        id="ime"
        autocomplete="new-password"
      />
    </div>
  
    <div class="form-control">
      <label for="prezime">Prezime</label>
      <input
        formControlName="prezime"
        id="prezime"
        autocomplete="new-password"
      />
    </div>

    <div class="form-control">
        <label for="username">Username</label>
        <input
          formControlName="username"
          id="username"
          autocomplete="new-password"
        />
      </div>

    <div class="form-control">
        <label for="email">Email</label>
        <input
          formControlName="email"
          id="email"
          autocomplete="new-password"
        />
    </div>

    <div class="form-control">
        <label for="sifra">Sifra</label>
        <input
          formControlName="sifra"
          id="sifra"
          autocomplete="new-password"
          type="password"
        />
    </div>

    <div class="form-control">
        <label for="slika">Slika</label>
        <input
        style="height: 50px;"
          formControlName="slika"
          id="slika"
          type="file"
          (change)="onFileChange($event)"
        />
    </div>
    <div class="progress-container">
        <div class="progress-bar" [style.width.%]="uploadPercent"></div>
      </div>
      <div class="progress-text">{{ uploadPercent }}%</div>
    <button class="btn-book-a-table" type="submit">Register &#8594;</button>
  </form>
</div>
